<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realms: Architect of Expansion</title>
    <style>
        h1 {
            text-align: center;
        }
        .main-pane {
            width: 30em;
            background: lightblue;
        }
    </style>
</head>
<body>

    <div class="main-pane">
        <h1>Hello, World!</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas rutrum suscipit tellus, imperdiet dapibus nunc vulputate a.
            Phasellus vel quam nunc. Aenean neque nibh, sollicitudin nec orci et,
            porta tincidunt erat. In mollis efficitur tincidunt. Nullam tincidunt
            ut orci eget condimentum. In hac habitasse platea dictumst. Fusce odio
            lorem, pretium vel purus et, lacinia placerat nisi. Aenean in magna a
            lectus fermentum condimentum ac vehicula tellus. Vivamus hendrerit
            egestas nisl. Nunc et egestas tellus. Sed nec purus sapien. Proin luctus
            ex quis neque pharetra pretium.
        </p>
    </div>

</body>
</html>