body {
    background: url("http://www.freelargeimages.com/wp-content/uploads/2014/12/Landscape_01.jpg") no-repeat fixed;
    font-family: sans-serif;
}
h1.title {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-family: sans-serif;
}
h1.title.subtitle {
    font-size: 1em;
}
div.main-pane {
    width: 35em;
    margin: 0 auto 0;
    padding: 2em;
    overflow: auto;
    border: ridge gray 2px;
    background: lightblue;
}


div.profile {
    clear: both;
    overflow: auto;
    padding: 1em;
}
img.profile-image {
    width: 40%;
    float: left;
}
div.profile-text {
    width: 45%;
    float: left;
    padding: 0 2em 2em;
}
div.profile-text h2 {
    margin: 0 0 .1em;
    font-size: 1.5em;
}
div.profile-text h3 {
    margin: 0;
    font-size: 1em;
    font-style: oblique;
}