/* Get new fonts */

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasDy2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD9V_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Actual CSS */

body {
    background: url("http://www.freelargeimages.com/wp-content/uploads/2014/12/Landscape_01.jpg") no-repeat fixed;
    font-family: 'Open Sans';
}
h1.title {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans';
}
h1.title.subtitle {
    font-size: 1em;
}
h1.error {
    color: red;
}
div.main-pane {
    width: 35em;
    margin: 0 auto 0;
    padding: 2em;
    overflow: auto;
    border: ridge gray 2px;
    background: #AABDC3;
}
div#slideshow {
    padding: 2em 0 2em;
}
fieldset {
    text-align: center;
}
td {
    border-bottom: 2px solid black;
}

/* About styling */
div.profile {
    clear: both;
    overflow: auto;
    padding: 1em;
}
img.profile-image {
    width: 40%;
    float: left;
    opacity: 0;
}
div.profile-text {
    width: 45%;
    float: left;
    padding: 0 2em 2em;
}
div.profile-text h2 {
    margin: 0 0 .1em;
    font-size: 1.5em;
}
div.profile-text h3 {
    margin: 0;
    font-size: 1em;
    font-style: oblique;
}

/* Realm Select styling */
div.realm-option {
    border: 2px ridge darkgray;
    padding: 1em;
    margin: 1em 0 1em;
}
h1.realm-title {
    margin: 0;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Open Sans';
}

/* Realm Page styling */
div#canvas {
    margin: 2em auto 2em;
}