<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realms | About</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'game/home.css' %}">
</head>
<body>

    <div class="main-pane">

        <h1 class="title">About the Team</h1>

        <hr>

        <a href="{% url 'game:home' %}">Back to Home</a>

        <h1 class="title subtitle">NOTE: this page is still under construction</h1>

        <div class="profile">
            <img src="{% static 'game/about_evan.jpg' %}" class="profile-image">
            <div class="profile-text">
                <h2>Evan Williams</h2>
                <h3>Lead Developer, Creative Director</h3>
                <hr>
                Evan is a student at the University of California, Berkeley.
                He loves long walks and short shotguns. He has experience
                with both frontend and backend development, specifically
                with the Django MCV web framework, has plenty of friends
                who are cool guys, and is a straight up boy.
            </div>
        </div>

        <div class="profile">
            <img src="{% static 'game/about_david.jpg' %}" class="profile-image">
            <div class="profile-text">
                <h2>David Vorona</h2>
                <h3>Backend Development Intern</h3>
                <hr>
                David is a student at the University of Virginia.
                He has experience in being a goon, yet is also a
                WorldStar Hip-Hop sponsored rapper and freestyler.
                He describes himself as a running "prodigy," yet
                also as a self-made man who has no one
                but himself to thank for his own success.
            </div>
        </div>

        <div class="profile">
            <img src="{% static 'game/about_john.jpg' %}" class="profile-image">
            <div class="profile-text">
                <h2>John Williams</h2>
                <h3>Lead Artist</h3>
                <hr>
                John is an alum of California State University,
                Fullerton. He is a tank connoisseur as
                well as an avid enthusiast of polygons.
            </div>
        </div>

    </div>

</body>
</html>