<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realms: Architects of Expansion</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'game/home.css' %}">
</head>
<body>

    <div class="main-pane">

        <h1 class="title">About the Team</h1>

        <hr>

        <a href="{% url 'game:home' %}">Back to Home</a>

        <div>
            <img src="{% static 'game/about_evan.jpg' %}" class="profile-image">
            <p>Evan Williams is a boyyyyy.</p>
        </div>

        <div>
            <img src="{% static 'game/about_david.jpg' %}" class="profile-image">
            <p>David Vorona is a backend development intern.</p>
        </div>

    </div>

</body>
</html>