<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realms | Home</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'game/jquery-2.1.4.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'game/home.css' %}">
    <script type="text/javascript" src="{% static 'game/slider/js/bjqs-1.3.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'game/slider/bjqs.css' %}">
</head>
<body>

    <script>
        jQuery(document).ready(function() {
            $('#slideshow').bjqs({
                'height' : 320,
                'width' : 620,
                'responsive' : true
            });
        });
    </script>

    <div class="main-pane">

        <h1 class="title">Realms</h1>
        <h1 class="title subtitle">Architects of Expansion</h1>

        <hr>

        <a href="{% url 'game:about' %}">About the Team</a>

        <div id="slideshow">
            <ul class="bjqs">
                <li><img src="{% static 'game/slider/img/banner01.jpg' %}" title="Oneeeeeee"></li>
                <li><img src="{% static 'game/slider/img/banner02.jpg' %}" title="Twoooooo"></li>
                <li><img src="{% static 'game/slider/img/banner03.jpg' %}" title="Threeee"></li>
            </ul>
        </div>
    <br clear="all">

        {% for _ in 123456789|make_list %}
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas rutrum suscipit tellus, imperdiet dapibus nunc vulputate a.
                Phasellus vel quam nunc. Aenean neque nibh, sollicitudin nec orci et,
                porta tincidunt erat. In mollis efficitur tincidunt. Nullam tincidunt
                ut orci eget condimentum. In hac habitasse platea dictumst. Fusce odio
                lorem, pretium vel purus et, lacinia placerat nisi. Aenean in magna a
                lectus fermentum condimentum ac vehicula tellus. Vivamus hendrerit
                egestas nisl. Nunc et egestas tellus. Sed nec purus sapien. Proin luctus
                ex quis neque pharetra pretium.
            </p>
        {% endfor %}
    </div>

</body>
</html>