<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Realms | Home</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'game/jquery-2.1.4.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'game/home.css' %}">
    <script type="text/javascript" src="{% static 'game/slider/js/bjqs-1.3.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'game/slider/bjqs.css' %}">
</head>
<body>

    <script>
        jQuery(document).ready(function() {
            $('#slideshow').bjqs({
                'height' : 320,
                'width' : 620,
                'responsive' : true
            });
        });
    </script>

    <div class="main-pane">

        <h1 class="title">Realms</h1>
        <h1 class="title subtitle">Architects of Expansion</h1>

        <hr>

        <a href="{% url 'game:about' %}">About the Team</a>

        <h1 class="title subtitle">NOTE: this site is currently in development! Dev began on 9/24.
        A fully featured authentication system will be available soon!</h1>

        <div id="slideshow">
            <ul class="bjqs">
                <li><img src="{% static 'game/slider/img/banner01.jpg' %}" title="Thousands of players online!"></li>
                <li><img src="{% static 'game/slider/img/banner02.jpg' %}" title="The image says it all"></li>
                <li><img src="{% static 'game/slider/img/banner03.jpg' %}" title="Lorem Ipsum..."></li>
            </ul>
        </div>
        <br clear="all">

        {# If user logged in on homepage #}
        {% if error_message %}
            <h1 class="title subtitle">{{ error_message }}</h1>
        {% endif %}
        {% if logged_in %}
            <fieldset>
                <legend><b>Login</b></legend>

                <h1 class="title subtitle">Greetings, {{ user.username }}, you are already logged in </h1>
                <a href="{% url 'game:realm_select' %}"><h1 class="title subtitle">Click here to play!</h1></a>
                <a href="{% url 'game:logout' %}"><h1 class="title subtitle">Not you? Click here to logout</h1></a>
            </fieldset>
        {# If user NOT logged in on homepage #}
        {% else %}
            <form action="{% url 'game:login_attempt' %}" method="post">
                <fieldset>
                    {% csrf_token %}
                    <legend><b>Login</b></legend>

                    <label for="username">Username:</label><br>
                    <input type="text" name="username" id="username"><br>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password"><br><br>

                    <input type="submit" value="Log In">
                </fieldset>
            </form>
        {% endif %}

        <h1 class="title subtitle">Sign up for Realms <a href="{% url 'game:signup' %}">here</a>!</h1>

            {% for _ in 123456789|make_list %}
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Maecenas rutrum suscipit tellus, imperdiet dapibus nunc vulputate a.
                    Phasellus vel quam nunc. Aenean neque nibh, sollicitudin nec orci et,
                    porta tincidunt erat. In mollis efficitur tincidunt. Nullam tincidunt
                    ut orci eget condimentum. In hac habitasse platea dictumst. Fusce odio
                    lorem, pretium vel purus et, lacinia placerat nisi. Aenean in magna a
                    lectus fermentum condimentum ac vehicula tellus. Vivamus hendrerit
                    egestas nisl. Nunc et egestas tellus. Sed nec purus sapien. Proin luctus
                    ex quis neque pharetra pretium.
                </p>
            {% endfor %}

        <div style="text-align: center;">
            <a href="admin">Django Administration</a> | <a href="phpmyadmin">Database Administration</a>
        </div>

    </div>

</body>
</html>