<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Realms | Realm Select</title>
    {% load staticfiles %}
    {% load url from future %}
    <link rel="stylesheet" type= "text/css" href="{% static 'game/home.css' %}"/>
</head>
<body>

    <div class="main-pane">
        <h1 class="title">Select a Realm</h1>

        <hr>

        {% for realm in available_realms %}
            <div class="realm-option">
                <h1 class="realm-title">{{ realm.name }}</h1>
            </div>
        {% endfor %}

        <p>Return to <a href="{% url 'game:home' %}">home page</a></p>

        <p><a href="{% url 'game:logout' %}">Click here to log out</a></p>
    </div>

</body>
</html>