<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Realms | Play</title>
    {% load staticfiles %}
    {% load url from future %}
    <script type="text/javascript" src="{% static 'game/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/jsgl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/realmgraphics.js' %}"></script>
    <link rel="stylesheet" type= "text/css" href="{% static 'game/home.css' %}"/>
</head>
<body>
    <script>
        load_context_data({{ zone_types }}, {{ tile_size }}, {{ view_height }}, {{ view_width }});
    </script>

    <div class="main-pane">
        <h1 class="title">{{ realm }}</h1>
        <hr>

        <div id="canvas" style="width: {{ canvas_width }}px; height: {{ canvas_height }}px"></div>

        <div id="zone-info"></div>


        <p>Return to <a href="{% url 'game:home' %}">home page</a></p>
        <p>Return to <a href="{% url 'game:realm_select' %}">realm select</a></p>
        <p>Click <a href="{% url 'game:logout' %}">here</a> to log out</p>
    </div>

</body>
</html>